.app-container{
    background-image: url(https://uploads.platformos.dev/instances/85/assets/images/svg/header-bg.svg?updated=1706790757);
    width: 100vw;   
    height: 100vh; 
    background-color: #dfe4eb;
}